<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400489777398-l0nq81h6smht2pgd3ldq9uvjaesuqbg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400489777398-l0nq81h6smht2pgd3ldq9uvjaesuqbg8</string>
	<key>API_KEY</key>
	<string>AIzaSyAz3fHEi_tSfxzKYyclxn_UjbmuJ-5tdT4</string>
	<key>GCM_SENDER_ID</key>
	<string>400489777398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kods.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test-1-a7021</string>
	<key>STORAGE_BUCKET</key>
	<string>test-1-a7021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400489777398:ios:c5a63e3f6069b7bd43c4d7</string>
</dict>
</plist>